PORT=5000

MONGODB_URI=mongodb+srv://prateekapphivey_db_user:Frq6vOAzX1nge68r@artistonk.i4frcxc.mongodb.net/?appName=artistonk

JWT_SECRET=thisissecret
JWT_EXPIRES_IN=7d
# prateekapphivey_db_user
# Frq6vOAzX1nge68r

NODE_ENV=development